*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#allprojects{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    border: 2px solid red;

}

.project{
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;

}
a{
    color: black;
    text-decoration: none;
}