*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#presentation{
    width: 100%;
    height: 100vh;
    background-image: url(IMG/Presentation-Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 50px;  
    position: fixed;
    box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
hr{
    height: 2px;
    width: 50%;
    color:grey;
    margin-inline-start: 50px;
    opacity: 40%;
    
}
#logo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
#navigation{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    padding-inline-end: 50px;
}
ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
    justify-content: flex-end;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 50;
    padding-inline: 50px;
    height: 100%;
    letter-spacing: 2.7px;

}
li:hover{
    border-bottom: 2px solid rgba(170, 169, 169, 0.836);
    cursor: pointer;
}
li.selected{
    border-bottom: 2px solid white;
}
#intro{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    padding: 50px;
    row-gap: 30px;
    left: 0px;
    color: white;
}
#photo{
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius: 150px;
}

#fullstack{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 0px;
    color: white;
}
#containerfrontback{
    width: 80%;
    height: 60%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
#front{
    width: 33%;
    height: 100%;
    background-color: #4C4E4D;
    overflow: hidden;
    flex-grow: 1;
    position: relative;

}
#textfront{
    color: black;
    font-size: 3em;
    transform: rotate(-90deg);
}
#html{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
#css{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
#javascript{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
#back{
    width: 33%;
    height: 100%;
    background-color: #4C4E4D;
    overflow: hidden;
    flex-grow: 1;
    position: relative;

}
#textback{
    color: black;
    font-size: 3em;
    transform: rotate(-90deg);
}
#php{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
#symfony{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
#tools{
    width: 33%;
    height: 100%;
    background-color: #4C4E4D;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}
#texttools{
    color: black;
    font-size: 3em;
    transform: rotate(-90deg);
}
#front, #back, #tools{
    background-image: linear-gradient(to top, #212121, #373741, #4c4e63, #606789, #7282b0, #8595c4, #98a8d8, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);
    border-radius: 5px;
    transition-property: width;
    transition-duration: 1s;
    transition-delay: 0s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    
}

#front:hover, #back:hover, #tools:hover{
    background-color: grey;
    width: 100%;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
#cadrepresentation{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
#social{
    height: 50px;
    width: 250px;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 50px;
}
#social a:hover{
    color: grey;
}
#realisations{
    width: 100%;
    height: 100vh;
    color: black;
    background-color: #373741;
}
#titrerealisations{
    color: white;
    padding-top: 150px;
    padding-inline: 50px;
    font-size: 3em;
}
#cadrerealisations{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}
#projetscontainer{
    width: 50%;
    height: 700px;
    border: 1px solid blue;
}
#links{
    margin-top: 50px;
    width: 700px;
    height: 80px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}
#projets{
    overflow: hidden;
    width: 700px;
    height: 570px;
    background-color: #acbced;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.projet{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}


#php{
    color: black;
}